
    .container{
        margin:100px auto;
        width:50%;
        min-height:500px;
        background-color: rgb(46, 28, 28);
        border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    }
    .form-container{
        width: 84%;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    padding:50px;
    color:antiquewhite;
    }

input{
    background-color: antiquewhite;
}
    select{
        margin-top: 20px;
        border-radius: 4px;
        height:30px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        background-color: antiquewhite;
    }


    option{
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
    }
    .submit{
        width:25%;
        margin-top:30px;
        border-radius: 4px;
        height:40px;
        background-color: antiquewhite;
        border-top-style:none;
        border-left-style:none;
        border-right-style:none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }